/* futaba style for kareha by coda & WAHa_06x36 */
body
{
	 background: #FFFFFF;
	 color: #000000;
}

a
{
	color: #DD6600;
}

a:visited
{
	color: #DD6600;
}

a:hover
{
        color:#FFAA44;
}

form
{
	margin: 0px;
}



.title
{
	text-align: center;
	border-bottom: 2px solid #FF7700;
	font-size: 2em;
	font-family: sans-serif;
	padding: 4px 4px 0px 4px;
}




.topbar
{
	margin: 0.3em;
	margin-bottom: 1em;
	text-align: right;
	font-size: small;
}

.navbar, .managerbar, .stylebar
{
	background: #EEEEEE;
	border-bottom: 2px solid #FF7700;
	font-family: sans-serif;
	padding: 4px;
	margin-left: 1em;
}

.navtitle, .managertitle, .styletitle
{
	font-weight: bold;
}

.navbar a, .managerbar a, .stylebar a
{
	padding: 3px;
}



.threadarea
{
	background: #EEEEEE;
	color: #000000;
	border-bottom: 2px solid #BBBBBB;
	margin-bottom: 2em;
	clear: both;
}

.threadlist
{
	font-family: sans-serif;
	border-bottom: 2px solid #BBBBBB;
	padding: 1em 0.5em 1em 0.5em;
	margin-bottom: 7px;
}

.threadlink
{
	padding-right: 0.5em;
}

.backloglink
{
	text-align: right;
	font-weight: bold;
}

.oldthreadlist
{
	font-family: sans-serif;
	padding: 9px;
	margin-bottom: 7px;
}

.oldthreadlink
{
	display: block;
}

.oldmanagelink
{
	font-size: small;
	margin-left: 1em;
}

.threadform
{
	font-family: sans-serif;
	margin: 3px;
	padding: 3px;
}

.threadform input, .threadform textarea
{
	border: 1px solid #000000;
}

input[type=submit].threadform
{
}

.threadcaptcha
{
	color: #000000;
}



.summaryarea, .replyarea
{
	padding: 4px;
	margin-bottom: 2em;
	clear: both;
}

.permasagearea
{
	background: #EEEEEE;
	padding: 4px;
	margin-bottom: 2em;
	clear: both;
}

.threadtitle
{
	float: left;
	background: #EEEEEE;
	color: #000000;
	border-bottom: 2px solid #FF7700;
	font-size: 1.2em;
	font-family: sans-serif;
	font-weight: bold;
	margin-bottom: 0.7em;
	padding-right: 0.2em;
}

.threadnavigation
{
	float: right;
}

.titlepostcount
{
	font-weight: normal;
	margin-left: 0.5em;
}

.allreplies
{
	clear: both;
}

.replygroup
{
}

.repliesomitted
{
	background: #EEEEEE;
	height: 3px;
	margin: 0em 2em 1em 2em;
}

.reply
{
	margin-bottom: 1.2em;
}

.replyheader
{
	position: relative;
	height: 1em;
	margin-left: 2em;
	font-family: sans-serif;
}

.replyheader a { color: #000000; }
.replyheader a:hover { color:#FFAA44; }

.replynum
{
	position: absolute;
	left: -2em;
	width: 1.5em;
	font-family: sans-serif;
	text-align: right;
	font-weight: bold;
}

.postername
{
	color: #000000;
	font-weight: bold;
}

.postertrip
{
	color: #000000;
}

.deletedreply
{
	position: relative;
	height: 1em;
	margin-left: 2em;
	padding-bottom: 1.5em;
}

.deleted
{
	color: #AFAFAF;
	font-weight: bold;
}

.replytext
{
	margin-left: 2em;
	margin-top: 0.5em;
}

.replyabbrev
{
	color: #707070;
	margin-left: 3em;
	margin-bottom: 0.5em;
}

.quoted
{
	color: #995500;
}

.deletebutton
{
	font-size: small;
	float: right;
}

.threadlinks
{
}



.postform
{
	background: #EEEEEE;
	color: #000000;
	border-bottom: 2px solid #BBBBBB;
	font-family: sans-serif;
	margin: 3px;
	padding: 3px;
}

.postform input, .postform textarea
{
	border: 1px solid #000000;
}

.postform input[type=submit]
{
}

.postcaptcha
{
	color: #000000;
}



.footer
{
        text-align: center;
        font-size: 0.8em;
}
