body
{
         background: #FFFFFF;
         color: #000000;
}

a
{
	color:#CC0000;
}

a:visited
{
	color:#BB0000;
}

a:hover
{
	color:#FF7F7F;
}

form
{
	margin: 0px;
}



.title
{
	color: #005F00;
	text-align: center;
	font-family: sans-serif;
	font-size: 2em;
}



.topbar
{
	margin: 0.3em;
	margin-bottom: 1em;
	text-align: right;
	font-size: small;
}

.navbar, .managerbar, .stylebar
{
	background: #FFEFE7;
	padding: 3px 0px 3px 0px;
	margin-left: 1em;
	border: 1px solid #CC0000;
	-moz-border-radius: 4px;
}

.navtitle, .managertitle, .styletitle
{
	background: #FFCFC0;
	padding: 3px;
	color: #800000;
	-moz-border-radius: 3px 0px 0px 3px;
}

.navlink, .managerlink, .stylelink
{
	padding: 3px;
}



.threadarea
{
	background: #E7FFEF;
	color: #008000;
	padding: 4px;
	margin-bottom: 2em;
	-moz-border-radius: 6px;
	clear: both;
}

div.threadlist
{
	background: #FFFFFF;
	font-family: serif;
	margin: 3px;
	padding: 3px;
	-moz-border-radius: 4px;
}

span.threadlink
{
/*	display: block;*/
	padding-right: 0.5em;
}

a.threadlink
{
}

span.backloglink
{
/*	display: block;*/
	text-align: right;
	font-weight: bold;
}

div.oldthreadlist
{
	background: #FFFFFF;
	font-family: serif;
	margin: 3px;
	padding: 3px;
	-moz-border-radius: 4px;
}

span.oldthreadlink
{
	display: block;
}

a.oldthreadlink
{
	margin-right: 1em;
}


.oldmanagelink
{
	font-size: small;
}

div.threadform
{
	background: #D6F0E0;
	font-family: serif;
	margin: 3px;
	padding: 3px;
	-moz-border-radius: 4px;
}

input.threadform, textarea.threadform
{
	border: 1px solid #008000;
}

textarea.threadform
{
	-moz-border-radius: 4px;
}

input[type=submit].threadform
{
	background: #C0E0D0;
}

.threadcaptcha
{
	color: #008000;
}



.summaryarea, .replyarea
{
	background: #E7EFFF;
	padding: 4px;
	margin-bottom: 2em;
	clear: both;
	-moz-border-radius: 6px;
}

.permasagearea
{
	background: #D6E0F0;
	padding: 4px;
	margin-bottom: 2em;
	clear: both;
	-moz-border-radius: 6px;
}

.threadtitle
{
	float: left;
	background: inherit;
	font-size: 1.2em;
	color: #CC1105;
	font-weight: bold;
	margin-left: 1em;
}

.threadnavigation
{
	float: right;
}

.titlepostcount
{
	font-weight: normal;
}

.allreplies
{
	clear: both;
}

.replygroup
{
	background: #FFFFFF;
	color: #000080;
	font-family: serif;
	margin: 3px;
	padding: 3px;
	-moz-border-radius: 4px;
}

.reply
{
}

.replyheader
{
}

.replynum
{
	font-weight: bold;
	margin-left: 0.3em;
	margin-right: 0.3em;
}

.postername
{
	color: #117743;
	font-weight: bold;
}

.postertrip
{
	color: #228854;
}

.deletedreply
{
	padding-bottom: 1em;
}

.deleted
{
	color: #AFAFAF;
	font-weight: bold;
}

.replytext
{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 3em;
}

.replyabbrev
{
	color: #228854;
	margin-left: 3em;
	margin-bottom: 0.5em;
}

.quoted
{
	color: #789922;
}

.deletebutton
{
	font-size: small;
	float: right;
}

.threadlinks
{
}



div.postform
{
	background: #D6E0F0;
	color: #000080;
	font-family: serif;
	margin: 3px;
	padding: 3px;
	-moz-border-radius: 4px;
}

input.postform, textarea.postform
{
	border: 1px solid #000080;
}

textarea.postform
{
	-moz-border-radius: 4px;
}

input[type=submit].postform
{
	background: #C0D0E0;
}

.postcaptcha
{
	color: #000080;
	margin-right: 10px;
}



.footer
{
        text-align: center;
        font-size: 0.8em;
}
